/* styles.css */
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #111;
    color: #40e0d0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.menu button {
    background: none;
    border: none;
    color: #40e0d0;
    font-size: 20px;
    margin: 0 15px;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.menu button:focus {
    outline: none;
}

.menu button.active {
    color: #fff;
    text-shadow: 0 0 10px #40e0d0, 0 0 20px #40e0d0;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.section.active {
    display: flex;
}


/* Contact form styles */
#contactForm {
    width: 70vw;
    max-width: 800px;
    /* You can keep this to limit the form width on very wide screens */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* This will distribute the space inside the form */
}

#contactForm input,
#contactForm textarea {
    background: #333;
    /* Dark gray background */
    border: 1px solid #555;
    color: #40e0d0;
    /* Turquoise text */
    margin-bottom: 10px;
    padding: 1vw;
    /* Padding based on the width of the viewport */
    width: calc(100% - 2vw);
    /* Adjust width to account for padding */
}

#contactForm textarea {
    height: 20vh;
    /* Height based on the viewport height */
    resize: none;
    /* Prevents resizing the textarea */
}

#contactForm button {
    background: #111;
    /* Black background */
    border: 2px solid #40e0d0;
    /* Turquoise outline */
    color: #40e0d0;
    /* Turquoise text */
    padding: 1vw 2vw;
    /* Padding based on the width of the viewport */
    cursor: pointer;
    transition: all 0.3s;
}

#contactForm button:hover {
    background: #40e0d0;
    /* Turquoise background on hover */
    color: #111;
    /* Black text on hover */
}

/* Adjusts the form output display */
#formOutput {
    margin-top: 20px;
    color: #fff;
}


/* circuit */

.circuit-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circuit {
    position: absolute;
    width: 100%;
    height: 100%;
}

.central-text {
    z-index: 1;
    /* Ensure the text is above the SVG */
}

/* Initial hidden path style */
.path {
    stroke: #40e0d0;
    stroke-width: 2;
    fill: none;
    stroke-dasharray: 1000;
    /* Length should be longer than the path itself */
    stroke-dashoffset: 1000;
    /* Start with a full offset to hide the path */
    transition: stroke-dashoffset 2s;
    /* Animation duration */
}

/* On activation, the path will draw itself */
.path.drawn {
    stroke-dashoffset: 0;
    /* Setting offset to 0 to draw the path */
}